---
import "../styles/global.css"
import Footer from "~/common/components/footer.astro"
const font = {
  url: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css",
  integrity:
    "sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==",
};
interface Props {
  iconName: string
  title: string
  googleTagId: string
  description: string
}

const { iconName, title, googleTagId, description } = Astro.props
const googleTagUrl = `https://www.googletagmanager.com/gtag/js?id=${googleTagId}`
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=`${description}`>
    <title>{title}</title>
    <link rel="icon" type="image/png" sizes="32x32" href={`/icons/${iconName}.png`} />
    <link
      rel="stylesheet"
      href={font.url}
      integrity={font.integrity}
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script is:inline src={`${googleTagUrl}`}></script>
    <script is:inline define:vars={{ googleTagId }}>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", googleTagId);
    </script>
  </head>
  <body class="bg-slate-50">
    <div class="p-6">
      <slot />
    </div>
    <Footer />
  </body>
</html>

